<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Thanks for Shopping with us!Your order has been placed succesfuly
        and you'll be able to recieve it within 5 working days.
        Please Visit Again!!!!!</h1>
      </div>
    </div>

    </div>
  </body>
</html>
